@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(238, 255, 0);
    font-family: 'Tomorrow', sans-serif;
}

#heading {
    text-align: center;
    font-size: 4em;
}

h1 {
    font-weight: bolder;
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

.write-up {
    background-color: lime;
    padding: 5% 10%;
    margin: 10% 20%;
    text-align: center;
    border-radius: 28px;

}

.emoji-face {
    position: relative;
    background-color: magenta;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    box-shadow: 2px 0px 2px 2px red;
    float: left;
    margin: 0px 20px 0px 0px;
}

.wrapper {
    position: absolute;
    top: 100px;
    left: 600px;
}

.emoji-face:hover {
    transform: scale(1.25);
}

.eye1 {
    position: absolute;
    background-color: rgb(155, 52, 4);
    height: 11px;
    width: 12px;
    border-radius: 50%;
    top: 30px;
    left: 20px;
}

.eye2 {
    position: absolute;
    background-color: rgb(155, 52, 4);
    height: 11px;
    width: 12px;
    border-radius: 50%;
    top: 30px;
    left: 70px;
}

.mouth {
    position: absolute;
    background-color: rgb(155, 52, 4);
    height: 34px;
    width: 70px;
    border-radius: 0px 0px 90px 90px;
    top: 52px;
    left: 16px;
    z-index: 1;
    overflow: hidden;
}

.tongue {
    position: absolute;
    background-color: rgb(245, 13, 148);
    height: 38px;
    width: 38px;
    border-radius: 40%;
    top: 20px;
    left: 15px;
    z-index: 2;
}

.mouth-shock {
    position: absolute;
    background-color: rgb(155, 52, 4);
    height: 25px;
    width: 23px;
    border-radius: 50%;
    top: 50px;
    left: 40px;
}

.mouth-speechless {
    position: absolute;
    background-color: rgb(155, 52, 4);
    height: 5px;
    width: 65px;
    border-radius: 0px 0px 90px 90px;
    top: 60px;
    left: 16px;
}
